<% provide(:title, "検索結果") %>
<% breadcrumb :profile_search %>
<div class="container col-xxl-10 px-4 py-3">
  <div class="py-5">
    <% if @keyword.present? %>
      <div class="search-results-count text-center mb-4">
        <%= "#{@keyword} の検索結果 #{@search_results_count}件" %>
        <%= link_to profiles_path do %>
          <i class="fa-solid fa-rotate-left"></i>
        <% end %>
      </div>
    <% end %>
    <%= render "shared/index_users", users: @users %>
  </div>
</div>
