<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">散歩に行こう</h1>
        <p class="lead text-muted">
          何かに息詰まっているなら、散歩に出かけてみましょう。<br>
          お気に入りの散歩ルートがあれば、是非教えてください。
        </p>
        <p>
          <%= link_to "散歩ルートを探す", walking_routes_path, class: "btn btn-primary my-2 btn--extend index-btn" %>
          <%= link_to "散歩ルートを作成する", new_walking_route_path, class: "btn btn-secondary my-2 btn--extend index-btn", data: { turbo: false } %>
        </p>
      </div>
    </div>
  </section>
  <div class="py-3 bg-light">
    <h2 class="index-sort-name text-center mb-4">
      新着散歩ルート
    </h2>
    <%= render "shared/index_route", walking_routes: @walking_routes %>
  </div>
</main>
