<div id="map"></div>

<div>
  <label>出発地:<input id="start" type="text"></label>
</div>
<div id="waypoints"></div>
<div>
  <button id="add-waypoint">経由地を追加</button>
</div>
<div>
  <button id="remove-waypoint">経由地を削除</button>
</div>
<div>
  <label>到着地:<input id="end" type="text"></label>
</div>

<button id="display-route">ルート出力</button>
<p>
  ※住所、駅名などを入力してください。（駅名や建物名などは自動的に住所に変換されます。）<br>
  ※経由地の追加は10までです。<br>
  ※地図上のマーカーをドラッグして調節することも可能です。
</p>

<div id="directions-panel"></div>
<div id="total-distance"></div>
<div id="total-duration"></div>

<%= render "shared/google_maps_api" %>
