<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p>本サービスはGoogle Maps API を使用しています。<br>
      <a href="https://policies.google.com/privacy?hl=ja">Googleプライバシーポリシー</a><br>
      <a href="https://policies.google.com/terms?hl=en">Google利用規約</a>
    </p>
    <p class="mb-1"><a href="/">Contact Me</a></p>
    <p class="mb-0">©️ 2023 Kotree420</p>
  </div>
</footer>
