/* common */
body {
  padding-top: 4rem;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 15rem;
}

ul{
  padding-left:0;
}

li{
  list-style:none;
}

.annotation{
  color: $gray-700;
  font-size: 0.9rem;
}

.btn-lg--extend {
  border-radius: 0.25rem;
}

.btn--extend {
  border-radius: 0.19rem;
}

.alert-notice {
  color: #435738;
  background-color: #e2e9df;
  border-color: #d4decf;
}

.alert-alert {
  color: #46292f;
  background-color: #e3dadc;
  border-color: #d6c7ca;
}

.breadcrumbs a {
  text-decoration: none;
}

/* header */
header .nav-link {
  font-size: 1.1rem;
}

.header-profile-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
}

.header-profile-wrapper:hover{
  cursor: pointer;
}

.header-profile-image {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.header-profile-name {
  padding-left: 0.2rem;
}

/* footer */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15rem;
}

.footer-link {
  color: $light;
}

/* user-registration */
.user-link {
  text-decoration: none;
}

.login-btn, .signup-btn, .new-password-btn, .reset-password-btn, .edit-registration-btn {
  width: 100%;
}

/* profile */
.profile-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.show-profile-image-wrapper {
  text-align: center;
}

.show-profile-name-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.show-profile-name {
  font-size: 1.8rem;
  margin-right: 2rem;
}

.show-edit-profile-btn, .show-edit-registration-btn {
  font-size: 0.9rem;
  padding: 0.2rem 0.4rem;
}

.show-edit-profile-btn {
  margin-right: 0.5rem;
}

.show-profile-comment {
  white-space: pre-wrap;
}

.edit-profile-image:hover {
  filter: brightness(70%);
  cursor: pointer;
}

.edit-profile-btn {
  width: 25%;
}

/* walking_routes#index */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.index-btn {
  width: 12rem;
}

/* walking_routes#show */
.created-at {
  color: $gray-700;
  font-size: 0.9rem;
}

/* walking_routes#new */
#map {
  width:700px;
  height:600px;
}

.walking-route-name-style {
  font-size: 1.2rem;
  font-weight: bold;
}

#walking-route-name-label, #comment-area-label, #start-label, #end-label {
  font-size: 0.9rem;
}

.comment-area-style {
  height: 150px;
}

#comment-area {
  height: 150px;
}

.total-duration-style {
  margin-bottom: 1rem;
}

#display-route,#add-waypoint, #remove-waypoint {
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
